{extend name="common/base"}

{block name="title"}
Dining record
{/block}

{block name="css"}
{load href="/static/index/js/jconfirm/jquery-confirm.min.css" /}
{/block}

{block name="content"}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-primary">
                <h4>Dining record List</h4>
            </div>
            
            <div class="card-toolbar clearfix">
                <div class="toolbar-btn-action">
                    
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-3">
                            <a class="btn btn-primary m-r-5" href="#" data-toggle="modal" data-target="#UserModel">
                                <i class="mdi mdi-plus"></i>
                                Append record
                            </a>
                        </div>
                    </div>
                    
                    <div class="modal fade" id="UserModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Append record</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="addUserFrom">
                                        <div class="form-group">
                                            <label class="control-label" for="example-select">patient's name</label>
                                            <select class="form-control" id="example-select" name="example-select" size="1">
                                                {foreach $userList as $key => $val}
                                                <option value="{$val.id}">{$val.name}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="dining-select">Dining way</label>
                                            <select class="form-control" id="dining-select" name="example-select" size="1">
                                                <option value="0">take-out</option>
                                                <option value="1">dining room</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Food information</label>
                                            <input type="text" class="form-control" placeholder="Please enter food information" autocomplete="off" name="foodInf">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Dining time</label>
                                            <input type="text" class="form-control" placeholder="Please choose when to take the dining time" id="diningTime" autocomplete="off" name="diningTime" readonly>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onClick="save()">Confirm to save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Number</th>
                            <th>Patient name</th>
                            <th>Dining way</th>
                            <th>Food information</th>
                            <th>Dining time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $list as $key => $val}
                        <tr>
                            <td>{$key + 1}</td>
                            <td>{$val.name}</td>
                            <td>
                                {if condition="$val.diningSelect eq 0"}
                                take-out
                                {else/}
                                dining room
                                {/if}
                            </td>
                            <td>{$val.foodInf}</td>
                            <td>{$val.diningTime}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <div id="logsPage"></div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
{load href="/static/index/js/bootstrap-notify.min.js" /}
{load href="/static/index/js/jconfirm/jquery-confirm.min.js" /}
{load href="/static/index/js/lightyear.js" /}
<script>

    layui.use('laydate', function(){
        var laydate = layui.laydate;

        laydate.render({
            elem: '#diningTime'
            ,lang: 'en'
            ,type: 'datetime'
        });

    });

    function isNull(value) {
        var str = value.replace(/(^\s*)|(\s*$)/g, '');
        return (str == '' || str == undefined || str == null) ? false : true
    }
    window.save = function() {
        var name = $('#example-select').val();
        var diningSelect = $('#dining-select').val();
        var foodInf = $('input[name="foodInf"]').val();
        var diningTime = $('input[name="diningTime"]').val();
        if(isNull(foodInf) === false ) {
            lightyear.notify('Please enter food information！', 'danger', 3000, 'mdi mdi-information', 'top', 'center');
            return false;
        }
        if( foodInf.length > 250 ) {
            lightyear.notify('Food information is too long！', 'danger', 3000, 'mdi mdi-information', 'top', 'center');
            return false;
        }
        if(isNull(diningTime) === false ) {
            lightyear.notify('Please choose when to take the dining time！', 'danger', 3000, 'mdi mdi-information', 'top', 'center');
            return false;
        }
        var data = {
            nameId: name,
            diningSelect: diningSelect,
            foodInf: foodInf,
            diningTime: diningTime
        }
        lightyear.loading('show');
        $.post('/dining/save', data, function(res) {
            var data = JSON.parse(res)
            lightyear.loading('hide');
            if(data.code == 200)
            {
                $('#UserModel').modal('hide');
                lightyear.notify('successfully added', 'success', 3000, 'mdi mdi-emoticon-happy', 'top', 'center');
                setTimeout(function(){window.location.href = '/dining'}, 1000)
            } else {
                lightyear.notify(data.data, 'danger', 3000, 'mdi mdi-information', 'top', 'center');
            }
        }).error(function() {
            lightyear.notify('The server is abnormal, please contact the administrator', 'danger', 3000, 'mdi mdi-information', 'top', 'center');
            lightyear.loading('hide');
        });
    }
</script>
{/block}