# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\6234 Object Oriented Design\covid_dashboard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
